include ../calendar/calendar.pug
include ../expand-more-arrow/expand-more-arrow.pug

mixin alone-calendar(params = {})
  -
    const {
      title='Даты прибывания в отеле', 
      dateFormat='d MM', 
      placeholder='Выберите даты', 
      isOpen = 'false',
      name = 'range-days'
    } = params

  .alone-calendar.js-alone-calendar(
    data-selected-dates=selectedDates,
    data-format=dateFormat,
    tabindex='0',
  )
    .alone-calendar__calendar-container.js-calendar-container
      input.alone-calendar__placeholder.js-calendar-placeholder(
        type="text",
        disabled,
        placeholder= placeholder,
        name=name
      ) 
      .alone-calendar__arrow
        +expand-more-arrow
    .alone-calendar__calendar.js-block-calendar
      +calendar({ initDates: ['2022-08-19', '2022-08-23'], isOpen: isOpen })
