mixin sub-text-input(options={})
  -
    const {
      name = '',
      type = 'text',
      placeholder = '',
      link = '/mock-address/change-me',
      method = '',
    } = options;
  
  form.sub-text-input(method=method, action=link)
    label.sub-text-input__container
      input.sub-text-input__input(name=name, type=type, placeholder=placeholder)
      button.sub-text-input__arrow-link(type="submit")
