mixin sub-text-input(options={})
  -
    const {
      name = '',
      type = 'text',
      placeholder = '',
      link = '/mock-address/change-me',
      target,
    } = options;
  
  label.sub-text-input
    input.sub-text-input__input(
      name= name
      type= type
      placeholder= placeholder
    )
    a.sub-text-input__arrow-link(
      href= link
      target= target
    )