block variables

block room
    #{classRoom}
        div.container
            div.slider-rooms
                #{room_photo1}
                #{room_photo2}
                #{room_photo3}
                #{room_photo4}
        a.link-for-room(href=linkRoom)
            div.head_room
                p(style="font-size:18px; color:#1F2041; font-weight:bold;") #{numberRoom}
                span #{level}
                p(style="font-size:12.5px;line-height: 16px;margin-top:3px;") #{price}
            div.rating
                div.star
                    div.stars#star1
                    div.stars#star2
                    div.stars#star3
                    div.stars#star4
                    div.stars#star5
                div.feedbackspan
                    b #{review}