mixin pagination(params = {})
  -
    const {
      minValue = 1,
      maxValue = 12,
      allOption = '100+ ',
      items,
      pageSize = 1,
      pageRange = 1,
      countPages= 15
    } = params
  
  .pagination.js-pagination(
    data-items=items,
    data-items-on-page=pageSize,
    data-page-range=pageRange,
    data-count-pages=countPages
  )
    .pagination__container
      .pagination__pagination-init.js-init-pagination
      p.pagination__description
        span.pagination__min-value.js-min-value= minValue
        span.pagination__line-value -
        span.pagination__max-value.js-max-value= maxValue
        span.pagination__txt !{' из '}
        span.pagination__all-option.js-all-option= allOption
        span.pagination__txt вариантов аренды
