include ../stars-rating/stars-rating.pug

mixin room-info({ link = "room-details.html", number = 888, level = "Люкс", price = "9 990", stars = 5, review = 145, sliders = [{src: "assets/img/rooms/room-888.png", alt: "room №888"}, {src: "assets/img/rooms/room-888.png", alt: "room №888"}, {src: "assets/img/rooms/room-888.png", alt: "room №888"}] }={} )
    .room-info.js-room-info
        .room-info__container.js-room-info__container
            .room-info__slider-rooms.js-room-info__slider-rooms
                each slider in sliders 
                    img.room-info__photo(src= slider.src, alt= slider.alt)
        a.room-info__link(href= link)
            .room-info__head-room
                p.room-info__number-room №#{number}
                span.room-info__level #{level}
                p.room-info__price #{price}₽
                    span.room-info__price-day !{" в сутки"}
            .room-info__rating
                .room-info__star
                    +stars-rating({ 
                        stars: stars,
                        readonly: true 
                    })         
                span.room-info__feedback #{review} 
                    span.room-info__feedback-txt Отзывов
                     