include ../range-date-calendar/range-date-calendar.pug
include ../count-price/count-price.pug
include ../dropDown/dropDown.pug

mixin room-order({ numberRoom, level, priceDay, currency, discount, services }={})
  .room-order.js-room-order
    form.room-order__container(
      method,
      action="./registration.html",
      name="room-order"
      )
      .room-order__head
        span.room-order__number-container
          span.room-order__number-num №
          span.room-order__number-room-title= numberRoom
          span.room-order__level= level
        span.room-order__price-day-title
          span.room-order__price-for-day(data-price='priceDay')= priceDay
          span.room-order__price-currency= currency
          span.room-order__in-day !{ ' в сутки ' }
      .room-order__arrival
        +range-date-calendar
      .room-order__guests
        span.room-order__title-guest гости
        +dropDown({
          appointment: 'guests',
          list: [
            { name: 'взрослые', val: 0 },
            { name: 'дети', val: 0 },
            { name: 'младенцы', val: 0 } ],
          showFunction: true,
          placeholder: 'Сколько гостей',
          keyPhrases: ['гость', 'гостя', 'гостей']
        })
      .room-order__count-price-container
        +count-price({
          list: [
            {
              priceDays: true,
              currency: currency,
              price: '9 990',
            },
            {
              fees: true,
              description: 'Сбор за услуги: скидка ',
              information: 'Здесь появится ваша доп. информация',
              discount: '2 179',
              currency: currency,
            },
            {
              currency: currency,
              information: 'Здесь появится ваша доп. информация',
              description: 'Сбор за дополнительные услуги',
              price: '300'
            }
          ]
        })
      .room-order__result-price
        span.room-order__all-result-price-title Итого
        .room-order__all-result-price-hr
        span.room-order__all-result-price-container
          span.room-order__all-result-price(data-price='resultPrice') 0
          span.room-order__all-result-price-currency= currency
      .room-order__to-book
        +button({ text: 'Забронировать', type: 'long', typeMethod: 'submit' })
