include ../range-date-calendar/range-date-calendar.pug
include ../dropDown/dropDown.pug

mixin room-order({ numberRoom= 888, level= 'люкс', priceDay= '9 990' }={})
    div.room-order
        div.room-order__container
            div.room-order__head
                span.room-order__number-container
                    span.room-order__number-num №
                    span.room-order__number-room-title= numberRoom
                    span.order__number-level= level
                span.room-order__price-day-title
                    span.room-order__price-for-day= priceDay
                    span.room-order__price-currency ₽
                    span.room-order__in-day !{' в сутки '}
            div.room-order__arrival
                +range-date-calendar
            div.room-order__guests
                span.room-order__title-guest гости
                +dropDown({
                    appointment: 'guests',
                    list: [
                        { name: 'дети', val: 0 },
                        { name: 'взрослые', val: 0 },
                        { name: 'младенцы', val: 0 }
                    ],
                    showFunction: true,
                    placeholder: 'Сколько гостей'
                })
            div.room-order__price
                div.room-order__full-price
                    span.room-order__full-price-container
                        span.room-order__price-day= priceDay
                        span.room-order__currency ₽
                        span.room-order__currency !{' x '} 
                        span.room-order__sum-day 0 
                        span.room-order__days суток
                    span.room-order__result-full-price 0
                        span.room-order__currency ₽
                div.room-order__fees
                    span.room-order__fees-container !{'Сбор за услуги: скидка '}
                        span.room-order__fees-price 2 179
                        span.room-order__currency ₽
                    span.room-order__fees-result 0
                        span.room-order__currency ₽ 
                div.room-order__additional-fees
                    span.room-order__additional-fees-title(style="width:214px;") Сбор за дополнительные услуги.
                    span.room-order__additional-fess-price 300
                        span.room-order__currency ₽ 
            div.room-order__result-price
                span.room-order__all-result-price-title Итого
                .room-order__all-result-price-hr
                span.room-order__all-result-price 0
                    span.room-order__all-result-price-currency ₽
            div.room-order__to-book
                +button({
                    text: 'Забронировать',
                    href: 'Registration.html',
                    type: 'long'
                })