include ../calendar/calendar.pug
include ../text-input/text-input.pug
include ../expand-more-arrow/expand-more-arrow.pug

mixin range-date-calendar(params = {})
  -
    const {
      titleFirst='Прибытие',
      titleSecond='Выезд',
      isOpen = false,
      range='true',
      lang,
      separator=' - ',
      format
    } = params

  .range-date-calendar.js-range-date-calendar(
    data-is-open=isOpen,
    data-date-format=format
  )
    .range-date-calendar__list
      .range-date-calendar__element
        span.range-date-calendar__title= titleFirst
        .range-date-calendar__field-input.js-field-input
          .range-date-calendar__masked-arrival.js-masked-arrival(
            data-complete='false'
          )
            +text-input({
              isMasked: true,
              name: 'arrival',
              isBordered: false,
              autocomplete: 'off'
            })
          .range-date-calendar__container-arrow.js-container-arrow
            .range-date-calendar__arrow
              +expand-more-arrow
      .range-date-calendar__element
        span.range-date-calendar__title= titleSecond
        .range-date-calendar__field-input.js-field-input
          .range-date-calendar__masked-departure.js-masked-departure(
            data-complete='false'
          )
            +text-input({
              isMasked: true,
              name: 'departure',
              isBordered: false,
              autocomplete: 'off'
            })
          .range-date-calendar__container-arrow.js-container-arrow
            .range-date-calendar__arrow
              +expand-more-arrow
    .range-date-calendar__container-calendar.js-block-calendar
      +calendar
