mixin calendar({ isOpen = false, range='true', lang, separator=' - ', format, initDates= ''}={})
  .calendar.js-calendar(
    data-range=range,
    data-multiple-dates-separator=separator,
    data-language=lang,
    data-is-open=isOpen,
    data-format=format,
    data-init-dates=initDates
  )
