mixin calendar({ isOpen = false, range='true', lang, separator=' - ', format, initDates= ''}={})
    .calendar-container.js-calendar-container(
            data-range= range
            data-multiple-dates-separator= separator 
            data-language= lang
            data-is-open= isOpen
            data-format= format
            data-init-dates= initDates
            )