mixin calendar(params = {})
  -
    const {
      isOpen= 'false', 
      range='true', 
      lang, 
      separator=' - ', 
      dateFormat='dd.mm.yyyy', 
      initDates= '',
    } = params

  .calendar.js-calendar(
    data-range=range,
    data-multiple-dates-separator=separator,
    data-language=lang,
    data-format=dateFormat,
    data-init-dates=initDates,
    data-is-open=isOpen,
  )