include ../footer-nav-menu/footer-nav-menu.pug
include ../logotype/logotype.pug
include ../sub-text-input/sub-text-input.pug

mixin footer(params = {})
  -
    const {
      desc, 
      menuList, 
      copyright,
      specialTitle= 'Получайте специальные предложения и новости сервиса',
    } = params

  footer.footer
    .footer__container
      .footer__list
        .footer__about-company
          +logotype
          .footer__description-container
            span.footer__description= desc
        .footer__navigation
          +footer-nav-menu({navList: menuList})
        .footer__description
          span.footer__description-title Подписка
          p.footer__description-special-title= specialTitle
          .footer__description-email
            +sub-text-input({ name: 'email', placeholder: 'Email' })
    .footer__sub-container
      .footer__sub
        p.footer__sub-copyright= copyright
        .footer__sub-icons
          a.footer__sub-links(
            href='https://twitter.com/',
            target='_blank',
            rel='noopener noreferrer'
          )
            .footer__icon-twitter
          a.footer__sub-links(
            href='https://facebook.com/',
            target='_blank',
            rel='noopener noreferrer'
          )
            .footer__icon-facebook
          a.footer__sub-links(
            href='https://instagram.com/',
            target='_blank',
            rel='noopener noreferrer'
          )
            .footer__icon-instagram
