extends ../template-head/main_index.pug

block header
    include ../includes/header.pug
block content
    div.content
        div.search_room
            h1 Найдём номера под ваши пожелания
            div.residence
                div.block_date
                    div.block1
                        h3 Прибытие
                        div.date_arrival 
                            div.arrow
                            div.text-field-calendar
                               input.datepicker-here.field-date-left(type="text" 
                                                      data-range="true" 
                                                      data-multiple-dates-separator=" - " 
                                                      data-language="ru" 
                                                      placeholder="ДД.ММ.ГГГГ")
                    div.block2(style="margin-left:18px;")
                        h3 Выезд
                        div.date_departure
                            div.arrow
                            div.text-field-calendar
                                input.datepicker-here.field-date-right(type="text" 
                                                      data-range="true" 
                                                      data-multiple-dates-separator=" - " 
                                                      data-language="ru" 
                                                      placeholder="ДД.ММ.ГГГГ")
                    div.block3
                        h3 Гости
                        div.guests
                            input.counte_guests(placeholder="Сколько Гостей" autocomplete="off" readonly="" value="")
                            div.arrow
                        include ../includes/dropBlock.pug
                    a(href="website-pages/search-room/searchRoom.html")
                        div.block4
                            p(style="padding-top:15px") подобрать номер
                            div.arrow_right
    
                            
block footer
    include ../includes/footer.pug
