mixin slider-range(params = {})
  -
    const {
      title='Slider',
      subTitle,
      range = {min: 5000, max: 10000},
      rangeMax = {min: 0, max: 15000},
      currency = '₽',
      separator = ' - '
    } = params
    
  .slider-range.js-slider-range(data-range= range, data-range-max=rangeMax)
    .slider-range__container-title
      .slider-range__name= title
      .slider-range__values
        span.slider-range__min-value.js-min-value #{ range.min }#{ currency }
        span= separator
        span.slider-range__min-value.js-max-value #{ range.max }#{ currency }
    .slider-range__slider.js-slider
    p.slider-range__sub-title= subTitle
