mixin radio-input(params = {})
  -
    const {
      groupName='default',
      list = [{name: 'Мужчина', checked: true},
      {name: 'Женщина'}]
    } = params

  .radio-input
    each el in list
      label.radio-input__label
        input.radio-input__button(
          type='radio',
          name=groupName,
          value=el.name,
          checked=el.checked
        )
        span.radio-input__text= el.name
