mixin text-input(options={})
  -
    const {
      name = '',
      placeholder = '',
      type = 'text',
      disabled = false,
      readonly = false,
      isMasked = false,
      isBorder = true,
    } = options;

  label.text-input.js-text-input
    input.text-input__input-field(
      data-masked=isMasked,
      type=type,
      name=name,
      placeholder=isMasked ? 'ДД.ММ.ГГГГ' : placeholder,
      disabled=disabled,
      readonly=readonly,
      class=isBorder ? 'text-input_border' : 'text-input_border-none'
    )
