include ../dropDown/dropDown.pug


mixin filter({ title = 'Найдём номера под ваши пожелания' }={})
    div.content
        div.container-search-room
            div.search-room
                h1 #{title}
                div.residence
                    div.block_date
                        div.block_date-calnedar
                            div.block1
                                h3 Прибытие
                                div.date_arrival 
                                    div.text-field-calendar
                                    input#first_date(type="text"
                                                                data-range="true" 
                                                                data-multiple-dates-separator=" - "
                                                                placeholder="ДД.ММ.ГГГГ"
                                                                readonly)
                            div.block2
                                h3 Выезд
                                div.date_departure
                                    div.text-field-calendar
                                        input#second_date(type="text" 
                                                            data-language="ru"
                                                            placeholder="ДД.ММ.ГГГГ"
                                                            readonly)
                        div.block3
                            h3 Гости
                            +dropDown
                        a.search-room_link(href="./searchRoom.html")
                            div.block4.button
                                p подобрать номер